@import "../../styles.scss";

.main-navigation {
  position: relative;
  z-index: 10;
  background-color: $color9HEX;
  border-bottom: 1px solid $color1HEX;
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    button {
      display: flex;
    }
  }
  &__home-link {
    color: $color1HEX;
    text-decoration: none;
  }
  &__subnav {
    background-color: $color9HEX;
    color: $color1HEX;
    position: absolute;
    width: 100%;
    z-index: 9;
    padding: 20px 0;
    ul {
      margin: 0;
      li > a {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color1HEX;
        text-decoration: none;
        .mat-icon {
          height: initial !important;
          width: initial !important;
        }
      }
    }
  }
}

@keyframes slide-out {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.hideSubNav {
  animation: slide-out 0.3s forwards;
  animation-timing-function: ease-out;
}
.showSubNav {
  animation: slide-in 0.3s forwards;
  animation-timing-function: ease-in;
}

.hide {
  display: none;
}

.active {
  transition: all 0.2s;
  font-weight: 400 !important;
  font-size: 90px;
  .material-icons {
    font-size: 70px !important;
  }
}
