@import "../../styles.scss";

.main-navigation {
  position: relative;
  z-index: 10;
  background-color: $color9HEX;
  border-bottom: 1px solid $color1HEX;
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    button {
      display: flex;
    }
  }
  &__home-link {
    color: $color1HEX;
    text-decoration: none;
  }
  &__shopping-bag-link,
  &__login-link {
    margin-left: 30px;
    cursor: pointer;
    color: $color1HEX;
    .mat-icon {
      height: initial;
      width: initial;
    }
  }
  &__shopping-bag-icon,
  &__login-icon {
    font-size: 40px;
    &:hover {
      transition: all 0.2s;
      transform: scale(1.2);
    }
    &:not(:hover) {
      transition: all 0.2s;
      transform: scale(1);
    }
  }
  &__shopping-bag-dropdown {
    position: absolute;
    top: 100px;
    left: 0;
    background: $color1HEX;
    color: $color10HEX;
    padding: 30px;
    border-radius: 10px;
    &::after {
      bottom: 100%;
      left: 12%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #d9ed92;
      border-width: 20px;
      margin-left: -20px;
    }
    ul {
      margin-block-start: 10px;
      margin-block-end: 10px;
      li {
        a {
          color: $color10HEX;
          text-decoration: none;
          display: inline-block;
          width: 100%;
          &:hover {
            background: $color10HEX;
            color: $color1HEX;
            transition: all 0.2s;
          }
          &:not(:hover) {
            transition: 1s;
          }
        }
      }
    }
  }
  &__subnav {
    background-color: $color9HEX;
    color: $color1HEX;
    position: absolute;
    width: 100%;
    z-index: 9;
    padding: 20px 0;
    ul {
      margin: 0;
      li > a {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color1HEX;
        text-decoration: none;
        .mat-icon {
          height: initial !important;
          width: initial !important;
        }
      }
    }
  }
}

@keyframes slide-out {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.hideSubNav {
  animation: slide-out 0.3s forwards;
  animation-timing-function: ease-out;
}
.showSubNav {
  animation: slide-in 0.3s forwards;
  animation-timing-function: ease-in;
}

@keyframes fade-out {
  0% {
    opacity: 0;
    display: none;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    display: inline-block;
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 1;
    display: inline-block;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    display: none;
    transform: scale(0);
  }
}

.hideDropdown {
  animation: fade-out 0.3s forwards;
  animation-timing-function: ease-out;
  transform-origin: 15% top;
}
.showDropdown {
  animation: fade-in 0.3s forwards;
  animation-timing-function: ease-in;
  transform-origin: 15% top;
}

.hide {
  display: none;
}

.active {
  transition: all 0.2s;
  font-weight: 400 !important;
  font-size: 90px;
  .material-icons {
    font-size: 70px !important;
  }
}
