<div class="container">


    <div *ngFor="let product of paintingProducts | async">
        <div *ngIf="(product.name | slugify) === routeParam">
            <h3 class="product__title">{{ product.name }}</h3>
            <p class="product__product-code">Product Code: {{ product.productCode }}</p>
            <div class="grid-container">
                <div class="grid-item">
                    <div *ngFor="let image of product.productImages; index as i">
                        
                         <img src="{{image}}" alt="{{product.name}}" [class.product__main-img]="i === 0" [class.product__sub-img]="i !== 0">
                    </div>
                    


                </div>
                <div class="grid-item">
                    <div class="product__prices">
                        <span class="product__prices--price">{{ product.price | currency: 'GBP' }}</span>
                        <span *ngIf="product.priceWas">Was: <span  class="product__prices--price-discounted">{{ product.priceWas | currency: 'GBP' }}</span></span>
                        <span *ngIf="product.priceRRP">RRP: <span class="product__prices--price-rrp">{{ product.priceRRP | currency: 'GBP' }}</span></span>
                    </div>
                    <h3 class="sub-title">Description</h3>
                    <p class="serif product__description">{{ product.description }}</p>
                    <p *ngIf="( product.quantityInStock ) === 0">Sorry, this product is out of stock.</p>
                    <p *ngIf="( product.quantityInStock )> 0">{{ product.quantityInStock }} units in stock.</p>
                    <h3>Rating</h3>
                    <mat-icon *ngFor="let i of [].constructor( product.rating )" class="product__rating-star-icon">star_border</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>


