/* You can add global styles to this file, and also import other style files */

@use '~@angular/material' as mat;

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$hamburger-layer-color: #d9ed92 !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;

@import "~@angular/material/_theming";
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// typography
$title-font: "Lato", sans-serif;
$body-font: "Lato", sans-serif;

// colors
$color1HEX: #d9ed92;
$color1RGB: rgb(217, 237, 146);
$color2HEX: #b5e48c;
$color2RGB: rgb(181, 228, 140);
$color3HEX: #99d98c;
$color3RGB: rgb(153, 217, 140);
$color4HEX: #76c893;
$color4RGB: rgb(118, 200, 147);
$color5HEX: #52b69a;
$color5RGB: rgb(82, 182, 154);
$color6HEX: #34a0a4;
$color6RGB: rgb(52, 160, 164);
$color7HEX: #168aad;
$color7RGB: rgb(22, 138, 173);
$color8HEX: #1a759f;
$color8RGB: rgb(26, 117, 159);
$color9HEX: #1e6091;
$color9RGB: rgb(30, 96, 145);
$color10HEX: #184e77;
$color10RGB: rgb(24, 78, 119);

$colorTextLight: #fff;
$colorTextDark: #000;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-weight: 100;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  font-weight: 100;
}

$app-typography: mat-typography-config(
  $font-family: "'Lato', sans-serif",
);

@include angular-material-typography($app-typography);

$my-custom-typography: mat.define-typography-config(
  /* h1 */ $headline: mat.define-typography-level(60px, 70px, 100, $title-font),
  /* h2 */ $title: mat.define-typography-level(60px, 70px, 100, $title-font),
  /* h3 */ $subheading-2:
    mat.define-typography-level(60px, 70px, 100, $title-font),
  /* h4 */ $subheading-1:
    mat.define-typography-level(60px, 70px, 100, $title-font),
  /* body */ $body-1: mat.define-typography-level(60px, 70px, 100, $title-font)
);

@include mat.core($my-custom-typography);

ul {
  list-style: none;
  padding-inline-start: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
