@import "../../../styles.scss";

.painting-page {
  background-image: url("../../../assets/bg-img-1.jpg"),
    linear-gradient(to bottom, white, white);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 30px;
  }
}

.card {
  padding: 20px;
  background: rgba(22, 138, 173, 0.6);
  cursor: pointer;
  color: white;
  &:hover {
    transform: scale(1.1);
    transition: all 0.2s;
  }
  &:not(:hover) {
    transform: scale(1);
    transition: all 0.2s;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
  }
  h3 {
    font-size: 15px;
    font-weight: 300;
    display: inline;
    margin-right: 15px;
  }
  &__was-price,
  &__rrp-price {
    color: black;
    text-decoration: line-through;
  }
  p {
    font-size: 16px;
    font-weight: 300;
  }
  img {
    width: 100%;
    height: 30%;
    margin: 20px 0;
  }
  span {
    font-size: 10px;
    font-weight: 700;
  }
  hr {
    @include hr-styles($color10HEX);
  }
  &__rating-star-icon {
    color: $color10HEX;
    background: $color1HEX;
    border-radius: 50px;
    border: 1px solid $color10HEX;
    margin-right: 5px;
  }
  &__in-stock-text {
    display: inline-block;
    margin-top: 20px;
  }
  &__in-stock-icon {
    position: absolute;
    top: 19px;
    left: 70px;
    color: $color5HEX;
    background: white;
    border-radius: 50px;
    border: 1px solid $color10HEX;
  }
  button {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
